<template name="chart">
	{{#each competition.chart.latest}}
	{{> user}}
	{{/each}}
</template>

<template name="user">
	<div class="col-md-3">
		<h4>
			<div class="btn-group" data-toggle="buttons">
				{{#if currentUser}}
				<label class="active btn btn-warning">
					<input type="radio" name="chart" id="{{_id}}">
					{{>chartRow}}
				</label>
				{{else}}
					{{#if onlineUser}}
					<label class="btn btn-success">
						<input type="radio" name="chart" id="{{_id}}">
						{{>chartRow}}
					</label>
					{{else}}
					<label class="btn btn-default">
						<input type="radio" name="chart" id="{{_id}}">
						{{>chartRow}}
					</label>
					{{/if}}
				{{/if}}
			</div>
		</h4>
	</div>
	<div class="col-md-9">
		<div>
			<canvas id="resultChart" style="width:565px; height:400px;"></canvas>
		</div>

	</div>
</template>

<template name="chartRow">
	{{place}}. {{username}}: {{score}}
</template>