<template name="home">
	<div class="bs-example">
		<div class="col-md-12">
			<div class="col-md-3">
				<div class="jumbotron">
					<p>Siia tuleb makseinfo</p>
				</div>
				<ul class="nav nav-pills" data-toggle="pill">
					<li class="active"><a href="#predict" data-toggle="tab">Ennusta</a></li>
					<li><a href="#watch" data-toggle="tab">Jälgi</a></li>
				</ul>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Teated</h3>
					</div>
					<div class="panel-body">
						{{> messagesList }}
					</div>
				</div>
			</div>
			<div class="tab-content col-md-9">
				<div class="tab-pane fade in active" id="predict">
					<div >
						{{>prediction}}
					</div>
					<div>
						{{>predictionPlayoffs}}
					</div>
				</div>
				<div class="tab-pane fade" id="watch">
					<div>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Edetabel</h3>
							</div>
							<div class="panel-body">
								{{> chart}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>