<template name="messagesList">
	<div class="messages">
		{{#each messages}}
			{{> messageItem}}
		{{/each}}
	</div>
	<form class="main">
		<div>
			<textarea class="form-control" rows="3" name="message"></textarea>
		</div>
		<div class="bs-example">
			<p>
				<input type="submit" class="btn btn-primary pull-right" value="Pane teele" />
			</p>
		</div>
	</form>
</template>

<template name="messageItem">
	<div class="message well">
		<div class="message-content">
			<span>{{dateFormat timestamp format="YYYY-MM-DD HH:mm:ss"}}</span>
			<h4>{{author}}: </h4>
			<span>{{message}}</span>
		</div>
	</div>
</template>