<template name="header">
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Seltsi jalkaennustus</a>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">
			<ul class="nav navbar-nav">
				{{#each competitions}}
					{{> competitionTitle}}
				{{/each}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{loginButtons align="right"}}
			</ul>
		</div>
	</div>
</template>

<template name="competitionTitle">
	<li class="{{isActive}}"><a href="#">MM 2014</a></li>
</template>