#signup-link {
	color: white;
}

#submitMessage {
	display: block;
	width: 100%;
}

.buttonContainer {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.withFlag {
	height: 50px;
	float: left;
}

.withFlag > img {
	padding-top: 8px;
}

.draw {
    padding-top: 20px;
    padding-left: 70px;
}

.goRight {
	float: right;
}

.background-text {
	font-size: xx-large;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	margin-right: 4px;
	margin-top: 2px;
	opacity: 0.5;
}