#signup-link {
	color: white;
}

#submitMessage {
	display: block;
	width: 100%;
}

.buttonContainer {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.withFlag {
	height: 50px;
	float: left;
}

.withFlag > img {
	padding-top: 8px;
}

.draw {
    padding-top: 20px;
    padding-left: 70px;
}

.goRight {
	float: right;
}

.background-text {
	font-size: xx-large;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	margin-right: 4px;
	margin-top: 2px;
	opacity: 0.5;
}

.background-text-2 {
	font-size: xx-large;
	overflow: hidden;
	margin-right: 4px;
	margin-top: 2px;
	opacity: 0.5;
}

.background-number {
	float:left;
	height: 50px;
	width: 67px;
	margin-left: -1px;
	margin-right: 1px;
	padding: 1px 5px 1px 5px;
	border-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	text-align: center;
}

.fieldsetx2 {
	height: 181px;
	position: relative;
}
.fieldsetx1 {
	height: 127px;
	position: relative;
}

.flagButtons {
	margin-top: -75px;
}

@keyframes shake{
	0% { transform: translate(3px, 0); }
	50% { transform: translate(-3px, 0); }
	100% { transform: translate(0, 0); }
}

@-moz-keyframes shake{
	0% { -moz-transform: translate(3px, 0); }
	50% { -moz-transform: translate(-3px, 0); }
	100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(3px, 0); }
	50% { -webkit-transform: translate(-3px, 0); }
	100% { -webkit-transform: translate(0, 0); }
}

.shake {
	animation-name: shake;
	animation-duration: 150ms;
	animation-iteration-count: 2;
	animation-timing-function: linear;

	-moz-animation-name: shake;
	-moz-animation-duration: 150ms;
	-moz-animation-iteration-count: 2;
	-moz-animation-timing-function: linear;

	-webkit-animation-name: shake;
	-webkit-animation-duration: 150ms;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}